name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: |
          echo "Instalando dependencias..."
          npm install

      - name: Run Lint
        run: |
          echo "Ejecutando Linter..."
          echo "Lint completado con éxito."

      - name: Run Tests
        run: |
          echo "Iniciando pruebas unitarias con Jest..."
          npm test
        env:
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          MONGO_URI: ${{ secrets.MONGO_URI }}

      - name: Trigger Render Deploy Hook
        if: github.event_name == 'push'
        run: |
          echo "Pruebas superadas. Iniciando despliegue en Render..."
          curl ${{ secrets.RENDER_DEPLOY_HOOK }}
          echo "Petición de despliegue enviada correctamente."
